/* Custom fonts
/* Import Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Import Montserrat font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 */


.local-nav-items {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    color: white !important;
}
.nav-link:hover {
    text-decoration: underline !important;
    transform: scale(1.05) !important;
    color: white !important;
    font-weight: bold;
}
#nav-items:active {
    background-color: yellow !important;
}
.dropdown-item-year {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 5px;
    background-color: white
}
.dropdown-item-year:hover {
    text-decoration: underline;
}
/* Main container for the watcher */
.watcher {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    color: #226f54;
    font-weight: bold;
    margin-top: 8px;
    font-size: 40px;
}

.logo {
    animation: spin 5s linear infinite;
    text-align: center;
    margin-top: 8px;
}
.home-rows, .mangrove-graph-component, .d-flex-flex-row-reverse {
    padding-top: 4px !important;
    display: flex !important;
    flex-direction: row !important;
    padding-left: 30px !important;
    padding-right: 30PX !important;
    margin: 5px 5px 5px 5px !important;
}
.home-rows {
    background-image: url('mangrove-2.png');
    text-align: justify;
}

.home-rows a {
    color: #70a9a1;
}
.mangrove-graph-component{
    height: 100vh;
}
.figure-desc {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

   #earth-engine-logo:hover{
    transform: scale(1) !important;
   }


/* Footer  */
.footers {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #3e5c76!important;  /* Adjust the background color as needed */
    padding: 10px;
    /* align-items: center; */
}

.d-flex-align-items-stretch-git:hover {
    transform: scale(1.2) !important;
}
.git {
    display: flex;
    flex-direction: row !important;
    margin-top: 5px;
    margin-left: 2%;
}
.rights {
    margin-right: 5px !important;
    margin-top: 5px;

}

#biomass-map {
    height: 80vh;
    padding-left: 30px !important;
    padding-right: 30PX !important;
    margin: 5px 5px 5px 5px !important;
}
.dropdown-list {
    font-size: 15px;
    color: #ee6c4d;
    font-weight: bold;
    padding-left: 30px !important;
    justify-content: center;
    margin-top: 2px;
    font-family: 'Roboto', sans-serif;   
    word-break: normal;
    
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: white !important;
    cursor: pointer;
    text-align: left;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: #335476;
    cursor: pointer;
}

.year-info {
    font-family: 'Roboto', sans-serif;  
    margin-left: 82%;
    font-size: 15px;
}

.abg-map {
    background-image: url('mangrove-5.png');
}

/* ****************************Media Queries*************************************** */

@media screen and (max-width: 1526px) {}
@media screen and (max-width: 1280px) {
    .local-nav-items {
        display: flex  !important;
        flex-direction: column !important;
    }
}
@media screen and (max-width: 1024px) {}
@media screen and (max-width: 921px) {
    .mangrove-graph-component, .figure-desc {
        display: none !important;
    }
    #git-logo {
        padding-left: 5% !important;
    }
}
@media screen and (max-width: 800px) {
    .mangrove-graph-component, .figure-desc {
        display: none !important;
    }
    #git-logo {
        padding-left: 5% !important;
    }
    
   
}
@media screen and (max-width: 768px) {
    .mangrove-graph-component, .figure-desc {
        display: none !important;
    }
    .home-rows {
        display: flex;
        flex-direction: column;
        font-size: 80% !important;
    }
    #git-logo {
        padding-left: 5% !important;
    }
    .local-nav-items {
        display: flex;
        flex-direction: row;
        font-size: 50%;
    }
}
@media screen and (max-width: 640px) {
    .logo, .mangrove-graph-component, .figure-desc {
        display: none !important;
    }
    /* span.navbar-toggler-icon, .nav-link {
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    } */

    .home-rows {
        display: flex !important;
        flex-direction: column !important;
        background-image: url('mangrove_1.png');
        font-size: 100%;

    }

    .git{
        display: flex  !important;
        flex-direction: row !important;
        width: 50% !important;
        align-items: center !important;
    }
}

